{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}

        <style>
            fieldset{
                border: 1px solid black;
            }
            a.no-style{
                text-decoration:none;
                color : black;
            }
        </style>

        <div class="container">
            <fieldset class="d-flex p-3">
                <legend>{{ categorie.nom }}</legend>
                {% for article in categorie.articles %}
                    <a href="{{ path('article_show', {'id': article.id}) }}" class="card mr-3 no-style" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset("image/article/"~ article.image)}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.nom }}</h5>
                            <p class="card-text">{{article.description}}</p>
                            <p class="card-text">{{article.prix}}</p>
                        </div>
                    </a>
                {% endfor %}
            </fieldset>
        </div>

    {# <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('categorie_index') }}">back to list</a>

    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('categorie/_delete_form.html.twig') }} #}
{% endblock %}
